(
    keyboard: [
        (KeyW, Player(MoveForward), Held),
        (KeyS, Player(MoveBack), Held),
        (KeyA, Player(MoveLeft), Held),
        (KeyD, Player(MoveRight), Held),
        (Escape, Player(Pause), JustPressed),
        (KeyE, Player(Interact), JustPressed),
        (Space, Player(Jump), HeldTimed(max_duration: 0.4)),
        (KeyW, Menu(Up), JustPressed),
        (KeyS, Menu(Down), JustPressed),
        (KeyA, Menu(Left), JustPressed),
        (KeyD, Menu(Right), JustPressed),
        (Space, Menu(Select), JustPressed),
        (Enter, Menu(Select), JustPressed),
        (Escape, Menu(Back), JustPressed),
    ],
    gamepad_buttons: [
        (West, Player(Interact), JustPressed),
        (Start, Player(Pause), JustPressed),
        (South, Player(Jump), HeldTimed(max_duration: 0.4)),
        (South, Menu(Select), JustPressed),
        (East, Menu(Back), JustPressed),
    ],
    gamepad_axes: [
        (LeftStickY, Positive, Player(MoveForward)),
        (LeftStickY, Negative, Player(MoveBack)),
        (LeftStickX, Negative, Player(MoveLeft)),
        (LeftStickX, Positive, Player(MoveRight)),
        (RightStickY, Positive, Player(LookUp)),
        (RightStickY, Negative, Player(LookDown)),
        (RightStickX, Negative, Player(LookLeft)),
        (RightStickX, Positive, Player(LookRight)),
        (LeftStickY, Positive, Menu(Up)),
        (LeftStickY, Negative, Menu(Down)),
        (LeftStickX, Negative, Menu(Left)),
        (LeftStickX, Positive, Menu(Right)),
    ],
)
